<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
	default-lazy-init="false">
	<!-- quartz -->
	<bean id="duetimeNotificationManager" class="com.edu.service.impl.DuetimeNotificationManagerImpl">
		<property name="systemConfigureDao" ref="systemConfigureDao"/>
		<property name="tutorialScheduleStudentDao" ref="tutorialScheduleStudentDao"/>
		<property name="mailEngine" ref="mailEngine" />
		<property name="templateName" value="accountCreated.vm" />
		<property name="sendFrom" value="${mail.default.from}" />
		<property name="subject" value="Notification" />
	</bean>
	<bean id="schedulerFactoryBean"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean"
		autowire="no" lazy-init="false">
		<property name="triggers">
			<list>
				<ref local="duetimeNotificationTimerTrigger" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
	</bean>

	<bean id="duetimeNotificationTimerTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="duetimeNotificationTimerFactory" />
		<property name="cronExpression" value="0 0/2 * * * ?" />
	</bean>

	<bean id="duetimeNotificationTimerFactory"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="duetimeNotificationManager" />
		<property name="targetMethod" value="notification" />
		<property name="concurrent" value="false" />
	</bean>
</beans>
