/* CSS Document */

*{
margin:0px;
padding:0px;
}

img{
border:0px;
}

.floatl{
float:left;
}

.floatr{
float:right;
}

a{
color:#646060;
text-decoration:underline;
}

a:hover{
text-decoration:none;
}

h1, h2, h3, h4{
line-height:normal;
}

.clear{
clear:both;
}

body{
background:#f4f4f4;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:12px;
}

#container{
width:900px;
margin:auto;
}

.content-box{
padding-top:15px;
padding-bottom:30px;
}

.top-box{
width:100%;
height:135px;
}

.top-left{
width:361px;
}

.top-right{
width:200px;
text-align:right;
padding-top:30px;
}

.top_right_lower{
width:530px;
padding-top:20px;
}

/*main-content*/
.main-content{
width:600px;
color:#646060;
line-height:22px;
background:url(../images/dotted-bg.gif) bottom left repeat-x;
padding-bottom:15px;
}

.main-content h1{
color:#646060;
font-weight:normal;
font-size:25px;
padding-bottom:20px;
}

.main-content p{
color:#646060;
line-height:22px;
padding-bottom:20px;
}

.middle_right{
width:200px;
padding-top:12px;
padding-right:50px;
}

.left-col{
width:250px;
padding-top:20px;
}

.right-col{
width:536px;
}

.top-area{
padding:60px 0px 40px 0px;
}

.logo{
display:block;
background:url(../images/outute_logo.png) no-repeat;
width:361px;
height:113px;
text-indent:-5000px
}

.login_bg{
width:270px;
height:175px;
}

.login-section  h2{
color:#646060;
font-size:25px;
font-weight:normal;
}

.login-section span{
color:#c0500d;
font-weight:bold;
}

.login-section ul{
list-style:none;
margin-top:15px;
}

.login-section li{
float:left;
color:#506366;
padding:0px 0px 0px 0px;
padding-bottom:10px;
}

.login-section li label{
width:67px;
display:inline-block;
}

.login-section li input{
width:128px;
background:#f0f0f0;
border:1px solid #e3e2e2;
height:15px;
padding-top:3px;
}

.login-section a{
color:#1f718e;
margin-top:5px;
text-decoration:none;
}


.form-input{
border:1px solid #dddbdb;
background:#fff;
color:#a3a0a0;
width:113px;
padding:2px;
margin-top:5px;
}

.login-button{
padding-top:10px;
}

.category-section{
padding-top:80px;
}

.category-section h1{
color:#646060;
font-weight:normal;
font-size:25px;
padding-bottom:15px;
}

.category-section ul{
list-style:none;
}

.category-section li{
line-height:29px;
color:#646060;
background:url(../images/category-lsit-dotted-bg.gif) bottom left repeat-x;
}

.category-section li a{
line-height:29px;
color:#646060;
text-decoration:none;
background:url(../images/category-list-bullets.gif) left 3px no-repeat;
padding-left:10px;
}

.tutor-section{
padding-top:30px;
}

.tutor-section h1{
color:#646060;
font-weight:normal;
font-size:25px;
padding-bottom:20px;
}

.tutor-section p{
color:#646060;
line-height:18px;
}

.tutor-section img{
padding-right:10px;
}

.search-area{
width:250px;
background:url(../images/seach-bg.gif) top left no-repeat;
height:38px;
padding:0px 5px 20px 10px;
}

.search-area ul{
list-style:none;
margin:0px;
padding:18px 0px 0px 0px;
}

.search-area li{
float:left;
color:#2d2602;
font-size:13px; padding:0px 4px 0px 0px;
}

.search-area li img{
position:relative;
top:-4px;
}

.search-input{
width:99px;
border:1px solid #d6d6d6;
color:#2d2602;
padding:1px;
margin-left:0px;
}

.search-area li.go-button{
width:32px;
padding:0px 0px 0px 0px;
border:0px; 
}

.main-links{
background:url(../images/links-bg.gif) top right repeat-x;
padding-top:11px;
height:56px;
}

.main-links ul{
list-style:none;
}

.main-links li{
display:block; 
float:left;	
text-align:center;	
list-style:none;
padding:0px 7px 0px 7px;
}

.main-links li a{
color:#407587;
display:block;
float:left;
padding:0px 0px 0px 4px;
text-decoration:none;
cursor:pointer;
}

.main-links li a span{
color:#407587;
display:block;
float:left;
padding:3px 7px 4px 5px;
}

.main-links li a:hover{
background:url(../images/li-left-bg.gif) left top no-repeat;
color:#fff;
}

.main-links li a:hover span{
background:url(../images/li-right-bg.gif) top right no-repeat;
color:#fff;
}

.main-links li a.active{
background:url(../images/li-left-bg.gif) left top no-repeat;
color:#fff;
}

.main-links li a.active span{
background:url(../images/li-right-bg.gif) top right no-repeat;
color:#fff;
}

.footer-links{
color:#407587;
background:url(../images/footer-dotted-bg.gif) top left repeat-x;
width:900px;
}

.footer-links ul{
list-style:none;
}

.footer-links li{
float:left;
margin-right:10px;
color:#646060;
line-height:71px;
}

.footer-links li a{
text-decoration:none;
color:#646060;
}

.footer-links p{
padding-top:30px;
color:#407587;
}

/*tabs area*/

.side {
float:right;
width:620px; 
padding-top:20px;
}

.box {
border:solid #ddd 2px;
height:730px;
overflow:
hidden;
zoom:1;
}

.box_tt {
height:50px;
background-position:0 - 40px;
border-bottom:solid #ddd 2px;
}

.box_tt h2 {
float:left;
font-size:17px;
color:#646060;
line-height:50px;
}

.box_con {
overflow:hidden;
zoom:1;
}

/*tabbox*/
.tabbox {
height:50px;
overflow:visible;
_overflow:hidden;
border-bottom:solid #dfdfdf 1px;
}

.tabbox li {
list-style-type:none;
float:left;
height:50px;
padding:0 10px;
font-size:14px;
color:#646060;
line-height:50px;
text-align:center;
cursor:pointer;
}

.tabbox .on {
position:relative;
height:50px;
margin-bottom:-1px;
font-weight:bold;
border:solid #dfdfdf 1px;
border-bottom:solid #fff 1px;
}

.tabbox2 {
margin-left:-1px;
}

.tabbox2 li {
list-style-type:none;
height:50px;
width:52px;
padding:0;
font-size:12px;
border-right:solid #dfdfdf 1px;
text-align:center;
}

.tabbox2 .on {
height:50px;
background:#fff;
border:none;
border-right:solid #dfdfdf 1px;}

.tabbox3 {
margin-left:-1px;
}

.tabbox3 {
float:left;
padding-left:20px;
border-bottom:none;
margin:0;
}

.tabbox3 li {
list-style-type:none;
height:50px;
line-height:50px;
border-right:solid #dfdfdf 1px;
}

.tabbox3 .on {
height:50px;
border-right:solid #dfdfdf 1px;
}


.tabboxh2 {
padding-left:0;
margin-left:-1px;
}

.tabboxh2 li {
list-style-type:none;
width:87px;
}

.tabboxh2 #asdasdas {
width:89px;
}

.tabboxh2 h2 {
float:none;
font-weight:normal;
text-indent:0;
}

.tabboxh2 .on h2 {
font-weight:bold;
}


/*hotplate*/
.hotplate 
{
float:left;
display:inline;
width:214px;
margin:10px 2px 0 12px;
}

.hotplate h2 {
width:58px;
height:14px;
margin-bottom:13px;
overflow:hidden;
}


.hotplate dt {
height:126px;
margin-bottom:11px;
}

.hotplate dt img {
display:block;
width:208px;
height:96px;
padding:2px;
border:solid #ddd 1px;
}

.hotplate dt a:hover img {
border-color:#0a93c9;
}


.hotplate_link {
display:block;
height:24px;
background:#f3f3f3;
padding-left:5px;
font-weight:bold;
line-height:24px;
}

.hotplate dd {
height:15px;
margin-top:7px;
line-height:15px;
overflow:hidden;
}

.hotplate dd a {
margin-right:3px;
}


.hotplate_112x96 {
width:245px;margin:7px 0 0 10px;
}

.hotplate_112x96 dl {
overflow:hidden;
}

.hotplate_112x96 dt {
float:left;
width:118px;
margin-bottom:11px;
>margin-bottom:4px;
text-align:center;
}

.hotplate_112x96 dt img {
width:112px;
}

.hotplate_112x96 dd {
width:245px;
}

.hotplate_112x96 .hotplate_link {
padding:0;
}

/*tab area ends*/

/* inner pages css start */
.aboutus-img{float:right; border:4px solid #fff;	margin:0 0px 10px 20px;}
h5{font-size:15px;font-weight:bold; padding:0px 0px 5px 0px; border-bottom:1px dotted #666;	margin:0px 0px 10px 0px;}
h6{font-size:16px; font-weight:bold; padding:0px 0px 5px 0px; margin:0px 0px 10px 0px;}
.aboutcolumnzone{padding:20px 0px 16px 0px;}
.aboutcolumn1{width:48%; float:left; margin:0px 0px 10px 0px;}
.aboutcolumn2{width:48%; float:right; margin:0px 0px 10px 0px;}
.abouticon{float:left; margin:0px 20px 0px 0px;}
.insidereadmore{padding:10px 0px 10px 0px;}
input.button{color:#000; background:#ffc850; font:bold 11px Arial, Helvetica, sans-serif; text-decoration:none; padding:10px 10px; margin:0px 5px 5px 0;	border:1px solid #5b7a92;}
input.button:hover{cursor:pointer; color:#fff; background:#663300; border:1px solid #ffc850;}
.project-img{float:right; margin-left:20px;	border: 6px solid #666;}
.whiteheading{font:30px Myriad Pro, Arial; color:#CBD76B; font-weight:100;	padding:0px; margin:25px 0px 20px 0px;}
.ourprojectrow{margin-bottom:20px; border-bottom:1px dotted #666; padding-bottom:10px; padding-right:20px}
.servicecolumnzone{padding:20px 0px 16px 0px;}
.servicecolumn1{width:48%; float:left; margin:0px 0px 10px 0px;}
.servicecolumn2{width:48%; float:right;	margin:0px 0px 10px 0px;}
.blog-posted-row{padding:3px;}
/* inner pages css ends */osted-row{padding:3px;}
/* inner pages css ends */