/* CSS Document */

/*
YUI CSS Reset
*/
/*
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}del,ins{text-decoration:none;}
*/

@import url(../styles/displaytag.css);

*{margin:0px;padding:0px;}

img{border:0px;}

.floatl{float:left;}

.floatr{float:right;}

a{color:#646060;text-decoration:underline;}

a:hover{text-decoration:none;}

h1, h2, h3, h4{line-height:normal;}

.clear{clear:both;}

body{background:#f4f4f4;font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;}

#container{width:900px;margin:auto;}

.content-box{padding-top:15px;}

.top-box{width:100%;height:135px;}

.top-left{width:361px;}

.top-right{width:200px;text-align:right;padding-top:30px;}

.top_right_lower{width:530px;padding-top:20px;}

/*main-content*/
.main-content{width:600px;color:#646060;line-height:22px;background:url(../images/dotted-bg.gif) bottom left repeat-x;padding-bottom:15px;}

.main-content h1{color:#646060;font-weight:normal;font-size:25px;padding-bottom:20px;}

.main-content p{color:#646060;line-height:22px;padding-bottom:20px;}

.middle_right{width:200px;padding-top:12px;padding-right:50px;}

.left-col{width:250px;padding-top:20px;}

.right-col{width:536px;}

.top-area{padding:60px 0px 40px 0px;}

.logo{display:block;background:url(../images/outute_logo.png) no-repeat;width:361px;height:113px;text-indent:-5000px}

.login_bg{background:url(../images/login_bg.png) no-repeat;width:270px;height:250px;}

.login-section  h2{color:#646060;font-size:25px;font-weight:normal;}

.login-section span{color:#c0500d;font-weight:bold;}

.login-section div{float:left; color:#646060;}

.login-section ul{list-style:none;margin-top:15px;}

.login-section li{float:left;color:#506366;padding:0px 0px 0px 0px;padding-bottom:10px;}

.login-section li label{width:67px;display:inline-block;}

.login-section li input{width:128px;background:#f0f0f0;border:1px solid #e3e2e2;height:15px;padding-top:3px;}

.login-section a{color:#1f718e;margin-top:5px;text-decoration:none;}



.category-section{padding-top:80px;}

.category-section h1{color:#646060;font-weight:normal;font-size:25px;padding-bottom:15px;}

.category-section ul{list-style:none;}

.category-section li{line-height:29px;color:#646060;background:url(../images/category-lsit-dotted-bg.gif) bottom left repeat-x;}

.category-section li a{line-height:29px;color:#646060;text-decoration:none;background:url(../images/category-list-bullets.gif) left 3px no-repeat;padding-left:10px;}

.tutor-section{padding-top:30px;}

.tutor-section h1{color:#646060;font-weight:normal;font-size:25px;padding-bottom:20px;}

.tutor-section p{color:#646060;line-height:18px;}

.tutor-section img{padding-right:10px;}

.search-area{width:250px;background:url(../images/seach-bg.gif) top left no-repeat;height:38px;padding:0px 5px 20px 10px;}

.search-area ul{list-style:none;margin:0px;padding:18px 0px 0px 0px;}

.search-area li{float:left;color:#2d2602;font-size:13px; padding:0px 4px 0px 0px;}

.search-area li img{position:relative;top:-4px;}

.search-input{width:99px;border:1px solid #d6d6d6;color:#2d2602;padding:1px;margin-left:0px;}

.search-area li.go-button{width:32px;padding:0px 0px 0px 0px;border:0px; }

.main-links{background:url(../images/links-bg.gif) top right repeat-x;padding-top:11px;height:56px;}

.main-links ul{list-style:none;}

.main-links li{display:block; float:left;	text-align:center;	list-style:none;padding:0px 7px 0px 7px;}

.main-links li a{color:#407587;display:block;float:left;padding:0px 0px 0px 4px;text-decoration:none;cursor:pointer;}

.main-links li a span{color:#407587;display:block;float:left;padding:3px 7px 4px 5px;}

.main-links li a:hover{background:url(../images/li-left-bg.gif) left top no-repeat;color:#fff;}

.main-links li a:hover span{background:url(../images/li-right-bg.gif) top right no-repeat;color:#fff;}

.main-links li a.active{background:url(../images/li-left-bg.gif) left top no-repeat;color:#fff;}

.main-links li a.subactive{background:url(../images/footer-dotted-bg.gif) left top no-repeat;color:#407587;}

.main-links li a.active span{background:url(../images/li-right-bg.gif) top right no-repeat;color:#fff;}

.footer-links{color:#407587;background:url(../images/footer-dotted-bg.gif) top left repeat-x;width:900px;}

.footer-links ul{list-style:none;}

.footer-links li{float:left;margin-right:10px;color:#646060;line-height:71px;}

.footer-links li a{text-decoration:none;color:#646060;}

.footer-links p{padding-top:30px;color:#407587;}

/*tabs area*/

.side {float:right;width:620px; padding-top:20px;padding-bottom:30px;}

.box {border:solid #ddd 2px;height:730px;overflow:hidden;zoom:1;}

.box_tt {height:50px;background-position:0 - 40px;border-bottom:solid #ddd 2px;}

.box_tt h2 {float:left;font-size:17px;color:#646060;line-height:50px;}

.box_con {overflow:hidden;zoom:1;}

/*tabbox*/
.tabbox {height:50px;overflow:visible;_overflow:hidden;border-bottom:solid #dfdfdf 1px;}

.tabbox li {list-style-type:none;float:left;height:50px;padding:0 10px;font-size:14px;color:#646060;line-height:50px;text-align:center;cursor:pointer;}

.tabbox .on {position:relative;height:50px;margin-bottom:-1px;font-weight:bold;border:solid #dfdfdf 1px;border-bottom:solid #fff 1px;}

.tabbox2 {margin-left:-1px;}

.tabbox2 li {list-style-type:none;height:50px;width:52px;padding:0;font-size:12px;border-right:solid #dfdfdf 1px;text-align:center;}

.tabbox2 .on {height:50px;background:#fff;border:none;border-right:solid #dfdfdf 1px;}

.tabbox3 {margin-left:-1px;}

.tabbox3 {float:left;padding-left:20px;border-bottom:none;margin:0;}

.tabbox3 li {list-style-type:none;height:50px;line-height:50px;border-right:solid #dfdfdf 1px;}

.tabbox3 .on {height:50px;border-right:solid #dfdfdf 1px;}

.tabboxh2 {padding-left:0;margin-left:-1px;}

.tabboxh2 li {list-style-type:none;width:87px;}

.tabboxh2 #asdasdas {width:89px;}

.tabboxh2 h2 {float:none;font-weight:normal;text-indent:0;}

.tabboxh2 .on h2 {font-weight:bold;}


/*hotplate*/
.hotplate {float:left;display:inline;width:214px;margin:10px 2px 0 12px;}

.hotplate h2 {width:58px;height:14px;margin-bottom:13px;overflow:hidden;}


.hotplate dt {height:126px;margin-bottom:11px;}

.hotplate dt img {display:block;width:208px;height:96px;padding:2px;border:solid #ddd 1px;}

.hotplate dt a:hover img {border-color:#0a93c9;}


.hotplate_link {display:block;height:24px;background:#f3f3f3;padding-left:5px;font-weight:bold;line-height:24px;}

.hotplate dd {height:15px;margin-top:7px;line-height:15px;overflow:hidden;}

.hotplate dd a {margin-right:3px;}


.hotplate_112x96 {width:245px;margin:7px 0 0 10px;}

.hotplate_112x96 dl {overflow:hidden;}

.hotplate_112x96 dt {float:left;width:118px;margin-bottom:11px;>margin-bottom:4px;text-align:center;}

.hotplate_112x96 dt img {width:112px;}

.hotplate_112x96 dd {width:245px;}

.hotplate_112x96 .hotplate_link {padding:0;}

/*tab area ends*/


/*signup page*/





/* DROP DOWN MENUS */
    /* http://issues.appfuse.org/browse/APF-1203 */
    ul#primary-nav { z-index:1; }

    ul#primary-nav ul { z-index:2;}

    ul#primary-nav, ul#primary-nav ul {
        margin: 0;
        padding: 0;
        background: #fff; /* IE6 Bug */
        font-size: 100%;
    }
        ul#primary-nav li {
            position: relative;
            list-style: none;
        }
            ul#primary-nav li a {
                display: block;
                text-decoration: none;
                color: #777;
                width: 90px;
                text-align: center;
                white-space: nowrap;
            }
        /* Fix IE. Hide from IE Mac \*/
        * html ul#primary-nav li { float: left; height: 1%; }
            * html ul#primary-nav li a { height: 1%; }
            * html ul#primary-nav ul { width: 149px; }
            * html ul#primary-nav ul li { width: 149px; }
        /* End */

            ul#primary-nav ul {
                position: absolute;
                display: none;
                left: 0px; /* Set 1px less than menu width */
                top: 22px;
            }
                ul#primary-nav ul li {
                    border: 1px solid silver;
                    border-bottom: 0;
                    font-size: 1em;
                }
                    ul#primary-nav ul li ul {
                        margin-left: 149px;
                        margin-top: -23px;
                    }
                    ul#primary-nav ul li.last {
                        border-bottom: 1px solid silver;
                        border-right: 1px solid silver;
                    }
                        ul#primary-nav li ul li a { padding: 3px 5px; text-align: left; width: 119px } /* Sub Menu Styles */
                        ul#primary-nav li:hover ul ul,
                        ul#primary-nav li:hover ul ul ul,
                        ul#primary-nav li.over ul ul,
                        ul#primary-nav li.over ul ul ul { display: none; } /* Hide sub-menus initially */
                        ul#primary-nav li:hover ul,
                        ul#primary-nav li li:hover ul,
                        ul#primary-nav li li li:hover ul,
                        ul#primary-nav li.over ul,
                        ul#primary-nav li li.over ul,
                        ul#primary-nav li li li.over ul { display: block; } /* The magic */
                        ul#primary-nav li.menubar { background: transparent url(../../images/arrow.gif) right center no-repeat; }
                        ul#primary-nav li:hover,
                        ul#primary-nav li.over { background-color: #fff }
                        ul#primary-nav li a:hover { color: #E2144A; }
/* END DROP DOWN MENUS */






        /*********************************
           Project: CSS Table Galery
           Title: Like Adwords
           Author: Cleiton Francisco
           URL: http://www.cleiton.net/
           Country: Brazil
           Update: 2005-12-18
         *******************************/

            .table {
                border-collapse: collapse;
                border: 2px solid #74B3DC;
                color: #000;
                background: #fff;
                width: 100%;
            }
                .table caption {
                    padding: 0 0.6em 0.8em;
                    font-size: 1.3em;
                    font-weight: bold;
                    text-align: left;
                    color: #000;
                    background: transparent;
                }
                /* For Tapestry's contribTable */
                .table th table, .table th table td {
                    width: 100%;
                    border: 0px;
                }
                .contribTable th {
                    padding: 0px !important;
                    background: #d7e9f5;
                }
                .contribTable th .tableHeaderTable {
                    margin: 0px !important;
                }
                .table td, .table th, .tableHeaderTable td {
                    border: 1px solid #e0e0e0;
                    padding: 0.5em;
                }
                .table thead th, .tableHeaderTable td {
                    border: 1px solid #e0e0e0;
                    text-align: left;
                    font-size: 1em;
                    font-weight: bold;
                    background: #d7e9f5;
                }
                .tableHeaderTable td a {
                    text-decoration: none !important;
                }
                .table tfoot th, tfoot td {
                    border: 1px solid #e0e0e0;
                    text-align: left;
                    font-size: 1em;
                    background: #e8e8cf;
                }
                .table tfoot th {
                    font-weight: bold;
                }
                .table tbody td a {
                    background: transparent;
                    text-decoration: underline;
                }
                .table tbody td a:hover {
                    background: transparent;
                    text-decoration: underline;
                }
                .table tbody th a {
                    background: transparent;
                    text-decoration: underline;
                    font-weight: bold;
                }
                .table tbody th, .table tbody td {
                    text-align: left;
                }
                .table tfoot td {
                    border: 1px solid #996;
                }
                .table tbody tr:hover, .table tr.over, .contribTable tr:hover {
                    background: #ffffd9 !important; /* important needed for Tapestry, as is .table tr:hover */
                }
                .contribTable tr.even {
                    background: #fff !important;
                }
                .contribTable tr.odd {
                    background: #eee !important;
                }
    /* END TABLE */







/* inner pages css start */
.aboutus-img{float:right; border:4px solid #fff;	margin:0 0px 10px 20px;}
h5{font-size:15px;font-weight:bold; padding:0px 0px 5px 0px; border-bottom:1px dotted #666;	margin:0px 0px 10px 0px;}
h6{font-size:16px; font-weight:bold; padding:0px 0px 5px 0px; margin:0px 0px 10px 0px;}
.aboutcolumnzone{padding:20px 0px 16px 0px;}
.aboutcolumn1{width:48%; float:left; margin:0px 0px 10px 0px;}
.aboutcolumn2{width:48%; float:right; margin:0px 0px 10px 0px;}
.abouticon{float:left; margin:0px 20px 0px 0px;}
.insidereadmore{padding:10px 0px 10px 0px;}
input.button{color:#000; background:#ffc850; font:bold 11px Arial, Helvetica, sans-serif; text-decoration:none; padding:10px 10px; margin:0px 5px 5px 0;	border:1px solid #5b7a92;}
input.button:hover{cursor:pointer; color:#fff; background:#663300; border:1px solid #ffc850;}
.project-img{float:right; margin-left:20px;	border: 6px solid #666;}
.whiteheading{font:30px Myriad Pro, Arial; color:#CBD76B; font-weight:100;	padding:0px; margin:25px 0px 20px 0px;}
.ourprojectrow{margin-bottom:20px; border-bottom:1px dotted #666; padding-bottom:10px; padding-right:20px}
.servicecolumnzone{padding:20px 0px 16px 0px;}
.servicecolumn1{width:48%; float:left; margin:0px 0px 10px 0px;}
.servicecolumn2{width:48%; float:right;	margin:0px 0px 10px 0px;}
.blog-posted-row{padding:3px;}
/* inner pages css ends */osted-row{padding:3px;}
/* inner pages css ends */

/* calendar css*/
div.calendar-panel {
    padding:1px;
    font-size:12px;
    font-family:"Lucida Grande", "Lucida Sans", Calibri, Helvetica, Arial, sans-serif;
    color: #000000;
    border: 1px solid gray;
    background: #f2f2f2; /* Old browsers */
    background: -moz-linear-gradient(top, #f9f9f9 0%, #f2f2f2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f9f9f9 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f9f9f9 0%,#f2f2f2 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #f9f9f9 0%,#f2f2f2 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #f9f9f9 0%,#f2f2f2 100%); /* W3C */
    text-align:center;
    line-height: 16px;
}
divcalendar-panel h4 {
    margin: 0;
    font-size: 1em;
    font-weight: bold;
}
table.calendar-day td,table.calendar-day th{
	padding: 5px;
}
table.calendar-day th{
	font-weight: bold;
}
table.calendar-day .calendar-selectabled:hover {
    background: #0066CC;
    color: #FFFFFF;
}
table.calendar-day .calendar-disabled {
	cursor: auto;
	color: #A6A6A6;
	background: #EEEEEE;
}
table.calendar-day .calendar-disabled-nextmonth {
	cursor: auto;
	color: #A6A6A6;
	background: #FFF;
}
table.calendar-day .calendar-selected {
	background-color: #B3D4FF;
	color: #000000;
	font-weight: bolder;
}
table.calendar-day .calendar-selectabled {
	cursor: pointer;
}
table.calendar-day tbody{
	color: #000;
	background: #FFF;
}
table.calendar-day td{
	border-left: solid 1px #CCCCCC;
	border-top: solid 1px #CCCCCC;
}
table.calendar-day tr.last td{
	border-bottom: solid 1px #CCCCCC;
}
table.calendar-day td.last{
	border-right: solid 1px #CCCCCC;
}
/* end calendar css*/

.hidden{
	display:none;
}
.rightTutorialPanel{
	width:600px;
}
.addTutorial{
background: rgb(226,226,226); /* Old browsers */
background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}
/* tutorial list selected */
.tutorialSelected {
	background-color: #EEEEEE;
}

/* form js*/
.addTutorialTitle{
	font-family: sans-serif;
	color: #000000 !important;
	font-size: 16px;
	font-weight: bold;
	line-height: 28px;
}
.formContent{
	color: #6E6E6E !important;
	font-size:12px;
	font-family:sans-serif,"Lucida Grande", "Lucida Sans", Calibri, Helvetica, Arial;
	vertical-align: middle;
}
input.button{ font-size:12px; font-weight: normal; font-family:sans-serif,"Lucida Grande", "Lucida Sans", Calibri, Helvetica, Arial; }
input.buttonMin{ font-size:11px; padding: 5px; }
.input { height: 20px; padding: 3px; }
.inputMin { height: 20px; padding: 1px; border-color: #AAA; border-width: thin; }
.select{ height: 26px; padding: 5px; }
.textarea{padding: 5px;}
.w300px{ width: 300px; }
.w200px{ width: 200px; }
.w100pc{ width: 100%; }
.bold { font-weight: bold; }
.padding10{padding: 10px;}

/*tutorial detail*/
.classTutorialDetail { background-color: #e5e5e5; display: block; height: 100px; padding: 10px; }
.classTutorialTitle { width: 300px; overflow:hidden; height: 24px; font-size:16px; font-weight: bold; font-family: Georgia,"Times New Roman",Times,serif; }
.classDescription { width: 300px; overflow:hidden; height: 20px; color: #6c6c6c; font-size:14px; font-weight: normal; font-family: Georgia,"Times New Roman",Times,serif; }
.tutorialHr{ margin: 5px 0px; color: #FFFFFF; }
.tutorialDetail { float:left; width:70%; display:inline; font-size:11px; }
.calendarIcon{background-image: url("../images/MiniCalendar.png"); padding: 8px 16px;}
.timeScheduleTimeContent{font-size:12px; font-weight: bold; font-family: Georgia,"Times New Roman",Times,serif;}
.timeScheduleCostContent{font-size:12px; font-weight: normal; font-family: Georgia,"Times New Roman",Times,serif;}
.searchContent{}

.formContent td{
	margin-right: 6px;
	margin-bottom: 6px;
	padding: 6px;
}
.formContent label{
	text-align: right;
	line-height: 22px;
	vertical-align: top;
}
.form-required {
	margin-left: 5px;
	color: red;
}
.listTimeSchedule .outertable{
	border-collapse: separate;
	border-spacing: 5px;
    color: #000;
    background: #fff;
    width: 100%;
}
.listTimeSchedule .innertable{
	border-collapse: collapse;
	width: 100%;
}
.listTimeSchedule .innertable a{
	text-decoration: none;
}
.listTimeSchedule .outertable tr{
	height: 32px;
	font-size: 16px;
	margin-top: 5px;
}
.listTimeSchedule .innertable td{
	background-color: #eee;
}
.iconTd, .tutorialIcon{
	width: 24px;
}
.iconTextTd{
	width: 40px;
	-width: 55px;
}
